*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: orange;
}

main{
    border: 1px solid #fff;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: blueviolet;
    padding: 1em;
    box-shadow: 0 0 10px black;
}

.title h1{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 1em;
    color: white;
}

.input{
    text-align: center;
    margin: 1em;
}

.input i{
    color: orange;
    font-size: 1.75em;
    margin-right: 10px;
}

.input input{
    outline: none;
    border: none;
    border-bottom: 3px solid white;
    background: none;
    width: 70%;
    font-size: 1.5em;
    color: white;
    padding: 5px;
}

#allItems h2{
    margin: 15px 10px 0 50px;
    color: white;
}



















